<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="loginbox">
        <h2>Login to YABI</h2>
        <form action="/loggingin" method="POST">
            <label for="name"> Username</label> 
            <br>           
            <input type="text" id="name" name="username">
            <br>
            <label for="pass"> Password</label>   
            <br>         
            <input type="password" id="pass" name="password">
            <br>
            <button>Log in</button>
        </form>
    </div>

    <div class="signupbox">
        <span> New to YABI ?</span> 
        <br>
        <a href="/signup">Create an account (Sign up)</a>
    </div>
</body>

</html>